/**  STRUCTURE:
<!DOCTYPE html>
<html>
    <body>
    <div class="app-main">
        <div class="sidebar">
            <h2>Multithek</h2>
            <div class="nav">
                <a href="http://localhost:8080index.xhtml">Home</a>
                <a href="http://localhost:8080movie.xhtml" class="active">Movie</a>
            </div>
         </div>
         <div class="header">
              <input id="search" type="text" placeholder="Suchen" />
         </div>
         <div class="center">

         </div>
         <main>
            <div class="row" id="upnext">
                 <h4 class="row-head">Continue</h4>
                 <a href="MOVIE/id/1">
                    <img src="http://jdhjdhf.com/test.jpg" />
                 </a>
                 <a href="MOVIE/id/1">
                    <img src="http://jdhjdhf.com/test.jpg" />
                 </a>
            </div>
        </main>
    </body>
</html>


 */


body, header, nav, main, footer{box-sizing: border-box;}/*Damit Rahmen, Padding etc innen hinzugefügt werden. Muss ganz oben stehen.*/
/*******************************************************************************************
                                      Base-Layout-Styles
*******************************************************************************************/
:root{
    /* Color */
    --color-primary: hsl(208, 100%, 44.5%);
    --color-primary-hover: hsl(208, 100%, 40%);
    --color-primary-light: hsl(208, 100%, 60%);
    --color-primary-lighter: hsl(208, 100%, 80%);
    --color-white: white;
    --color-gray: #adadad;
    --color-gray-light: #b0b0b0;
    --color-gray-lighter: lightgray;


    /* Time */
    --time-quarter: 250ms;
    --time-half: 500ms;
}
body{
    font-family: Segoe Light, Segoe UI Light, Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

.app-main {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset -20px 5px 20px 5px #FFFFFF;
    border-radius: 0px;
    display: grid;
    grid-template-areas:
                      "sidebar header"
                      "sidebar content"
                      "footer footer";
    grid-template-columns: 16em auto;
}
.header{
    grid-area: header;
    height: 3.6em;
    display: flex;
    justify-content: center;
}
.sidebar{
    grid-area: sidebar;
}
main {
    grid-area: content;
    height: calc(100vh - 4em);
    overflow: auto;
    padding: 1em;

    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: inset 5px 0px 20px rgba(0, 0, 0, 0.05), inset 10px 10px 80px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 3em;
}
.footer{
    grid-area: footer;
}

/*******************************************************************************************
                                 Combined Layout-Styles
*******************************************************************************************/
body,
header{
}


/*******************************************************************************************
                                      Header
*******************************************************************************************/
.logo {
    width: 153px;
    height: 63px;
    margin-left: 54px;
    top: 24px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #3FBAFF;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#search{
    font-family: Segoe Light, Segoe UI Light, Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    border-radius: 0.5em;
    height: 3em;
    line-height: 1em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 1em;

    height: 2.3em;
    box-shadow: inset 0 0 0.25em 0.01em var(--color-gray-lighter);
    border: solid 0.1em var(--color-gray-lighter);
    transition: all ease var(--time-quarter);
    color: var(--color-gray-light);

    display: inline-block;
    width: 30em;
    max-width: calc(100vw - 22em);
    height: 2em;
    margin-top: 1em;
    align-content: center;
    border-radius: 0.6em;

    display: inline-block;
    width: 30em;
    max-width: calc(100vw - 22em);
    height: 2em;
    margin-top: 1em;
    align-content: center;
    border-radius: 0.6em;
}

#search:hover{
    box-shadow: inset 0 0 0.75em 0.03em var(--color-gray-lighter);
    color: var(--color-gray);
    cursor: pointer;
}

#search:focus{
    cursor: text;
    outline: 0 solid transparent;
    box-shadow: inset 0 0 0.25em 0.01em var(--color-primary-lighter), 0 0 0.25em 0.01em var(--color-primary-lighter);
}

/*******************************************************************************************
                                  Navigation-Sidebar
*******************************************************************************************/


.nav {
    display: flex;
    flex-direction: column;
}
.nav a{
    height: 2em;
    padding: 0.5em;
    padding-left: 1.5em;

    color:black;
    text-decoration: none;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: inset 40px -10px 20px rgba(0, 0, 0, 0.05), inset 40px -2px 19px 10px rgba(0, 0, 0, 0.05);
    transition: all 100ms;
}
.nav a.active, nav a:active{
    background: #EAEAEA;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: inset 0 -10px 20px #FFFFFF, inset 0 -2px 19px 10px rgba(0, 0, 0, 0.15);
}
.nav a:hover {
    background: #94D8FF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.15), inset 0 8px 19px #F2F2F2;
}


/*******************************************************************************************
                                         Main
*******************************************************************************************/

main>div{
    border: none 1px lightgray;
}
main a.link{
    color:#11aab0;
    text-decoration:none;
    transition: all 280ms;
    margin: 0 0.2em;
    display: inline-block;
    cursor: pointer;
    transform: scale(1);
}
main a.link:hover{
    text-shadow: 0 0 0.8em #11aab0;
    transform: scale(1.19);
}
main a.link:active{
    transform: scale(1.1);
}


/**  Row and Covers  **/
h4.row-head{
    font-size:1.3em;
    margin-left: 1.2em;
    margin-bottom: 0.8em;
    font-weight: normal;
}

a.cover{
    color:#11aab0;
    text-decoration:none;
    transition: all 280ms;
    margin: 0 0.2em;
    display: inline-block;
    cursor: pointer;
    transform: scale(1);
    font-size:1.3em;
}
a.cover:hover{
    text-shadow: 0 0 0.8em #11aab0;
    transform: scale(1.19);
}
a.cover:active{
    transform: scale(1.1);
}

a.cover>img{
    display: block;
    max-height:7em;
    max-width:8em;
    margin-left: 1em;
    box-shadow: 0 0 0.5em grey;
    border: solid 1px;
    border-width: 0 0 0.1em 0;
    border-image:   linear-gradient(to right, red 25%, white 25%) 1;
}
a.cover:first-of-type>img{
    max-height:14em;
    max-width:16em;
    position: relative;
    top: 0em;
    box-shadow: 0 0 1em grey;
}




/*******************************************************************************************
                                      Footer
*******************************************************************************************/
