body{
    font-family: Segoe Light, Segoe UI Light, Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

a.link{
    color:#11aab0;
    text-decoration:none;
    transition: all 280ms;
    margin: 0.2em 0.2em;
    display: inline-block;
    cursor: pointer;
    transform: scale(1);
}
a.link:hover{
    text-shadow: 0 0 0.8em #11aab0;
    transform: scale(1.19);
}
a.link:active{
    transform: scale(1.1);
}
